.app.dark {
    --bg-color: #0c0c7b;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #0cb20c;
    --secondary-color: #0449e0;
    --inverted-primary-color: #304eb5;
    --inverted-secondary-color: #0449e0;
}
